mixin colors
    .colors
        .colors__item
            .colors__square(style=`background: green`)
            .colors__descr
                span.colors__title= 'a'
                span.colors__subtitle= 's'
                img(src=require(`@components/colors/img/img.jpeg`) alt= 'fsfsf')